.wrapper {
   margin: auto;
   text-align: center;
   width: 30%;
}

.part {
   border: solid 2px #006cff;
   margin: 10px auto;
   padding: 0 0 15px 0;
}

h1 {
   font-size: 24px;
   margin: 10px 0;
}

p {
   margin: 5px 0;
   font-weight: bolder;
}

@media (max-width: 600px) {
   .wrapper {
      width: 80%;
   }
}